<!DOCTYPE html>
<html>
  <head>
    <title>RupGo10</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<script>
    $(document).ready(function(){

   $("#colombia").mouseenter(function(){
    $("#mega_menu").slideToggle("fast");
    
  });
  $(".outmega").mouseenter(function(){
    $("#mega_menu").slideUp("fast");
  });
$("#mega_menu").mouseleave(function(){
    $("#mega_menu").slideUp("fast");
  });

});
</script>
      <%= render "partials/navigation" %>


<% if notice %>
	<p class="notice"><%= notice %></p>
<%end%>

<% if alert %>
	<p class="alert"><%= alert %></p>
<%end%>

    <%= yield %>
  </body>
</html>
